:root {
  --brand-blue-dark: #261f47;
  --brand-blue: #33418e;
  --brand-blue-light: #6c91d9;
  --brand-yellow: #ffd41d;
  --brand-red: #be1211;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--brand-blue-dark);
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 20px;
}
.headerTitle {
  color: var(--brand-yellow);
}
.headerImg {
  color: white;
}
.headerSNS {
  color: var(--brand-red);
}
.navbar {
  background-color: var(--brand-blue-light);
  color: var(--brand-red);
  display: flex;
  justify-content: space-around;
  padding: 10px;
  cursor: pointer;
}

.marquee {
  background-color: black;
  color: white;
  white-space: nowrap;
}

.marqueeContent {
  display: inline-block;
  padding-left: 100%;
  animation: marquee-speed 15s linear infinite;
}

@keyframes marquee-speed {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
/* accessibility */
@media (prefers-reduced-motion: reduce) {
  .marquee-content {
    animation: none;
    padding-left: 0;
    white-space: normal;
  }
}
main {
  flex: 1;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}
.main1 {
  background-color: var(--brand-blue-dark);
  color: white;
}
.main1a {
  background-color: white;
}
.main1aIMG {
  background-color: black;
  margin: 2px;
  height: 250px;
}
.main1aBanner {
  background-color: var(--brand-yellow);
  color: var(--brand-red);
  /* positon on top of img*/
}
.main1b {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: red;
}
.main1bName {
  background-color: var(--brand-blue-light);
  padding: 4px;
}
.nameTitle {
  font-size: 25px;
}
.nameSubTitle {
}
.main1bDesc {
  padding: 4px;
}
.main2 {
  background-color: var(--brand-blue-dark);
  padding: 10px;
}
.tickets {
  background-color: white;
  color: red;
  padding: 10px;
  text-align: center;
}
.ticketsTitle {
  background-color: var(--brand-blue);
  padding: 4px;
  font-size: x-large;
}
.ticketsSubTitle {
  background-color: var(--brand-blue-light);
  margin-bottom: 2px;
  padding: 2px;
}
.ticketsPrices {
  background-color: var(--brand-blue-light);
  display: block;
  margin-bottom: 2px;
  padding: 2px;
  font-size: larger;
}
.eventBrite {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 4px;
  margin-top: 10px;
}
.eventBrite > button {
  cursor: pointer;
  background-color: var(--brand-yellow);
  color: red;
  border-radius: 5px;
}
.main3 {
  background-color: var(--brand-blue);
  color: white;
  border: 2px solid yellow;
}
.main3a,
.main3c {
  color: red;
  background-color: white;
  margin: 10px;
  padding: 5px;
}
.year {
  display: flex;
  margin: 10px;
  color: red;
}
.yearImg {
  width: 30%;
  height: auto;
  background-image: url("images/heroImage.jpeg");
  background-size: cover;
  background-position: center;
  background-color: black;
  opacity: 0.75;
}

.yearText {
  background-color: white;
  padding: 10px;
  width: 100%;
}
footer {
  background-color: var(--brand-blue-dark);
  color: var(--brand-yellow);
}
